@import "base";
@import "layout";
@import "components";

/* Navigation */
// nav {
//   width: 100%;
//   min-height: 5rem;
//   background: grey;
//   display: flex;
//   justify-content: flex-start;
// }

// .logo {
//   height: 3rem;
//   margin: 1.5rem 3rem;
// }

// .navbar {
//   display: flex;
//   // justify-content: flex-end;
//   list-style-type: none;
// }

// li {
//   margin: 1.5rem 0.5rem;
// }

///////////////////////
// Global Styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

///////////////////////
// Navigation

///////////////////////
// Components

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
