@import "base";
@import "layout";
@import "components";

/* ===== Global Styling ===== */
:root {
  --color-primary: ;
  --color-secondary: ;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 50rem;
  background-repeat: no-repeat;
  // background: linear-gradient(to bottom right, #00b7ff, #6fd6ff);
}

/* ===== Header ===== */
header {
  background: linear-gradient(to bottom right, #047aad, #00b7ff);
}

/* ===== Navigation ===== */
.navbar {
  // background-color: #047aad;
  color: white;
  height: 7rem;
  font-size: 2rem;

  & .flex {
    justify-content: space-between;
  }

  &__logo {
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    // margin-left: 3rem;
  }

  &__nav {
  }

  &__list {
    list-style-type: none;
    display: flex;
  }

  &__item {
  }

  &__link {
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin: 0 2rem;

    &:hover {
      border-bottom: 1px #fff solid;
    }
  }
}

/* ===== Showcase ===== */
.showcase {
  min-height: 50vh;
  color: var(--color-text-primary);

  /* OI: Do you need this? */
  // & .flex {
  //   height: inherit;
  // }

  &__intro {
    flex: 1 1 60%;
  }

  &__heading {
    font-size: 4rem;
  }

  &__text {
    font-size: 2rem;
  }

  &__form {
    flex: 1 1 30%;
    height: 40rem;
    // OI:
    // justify-self: self-end;
    & input[type="text"],
    & input[type="email"] {
      border: 0;
      width: 100%;
      padding: 0.4rem;
      font-size: 1.6rem;
      opacity: 0.8;
      transition: all 0.2s;
      border-bottom: 1px solid var(--color-primary);
    }

    & input:focus {
      outline: 0;
    }
  }
}

/* ===== Utilities ===== */
.card {
  background-color: var(--color-white);
  border-radius: 1.4rem;
  padding: 2rem;
  margin: 1rem;
  // OI: Change to a variable!
  color: #333;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
}

.form-control {
  margin: 30px 0;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  // overflow: hidden;
  // padding: 0 4rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
